{% extends 'layout.html' %}
{% block title %}{{todo.title}}{% endblock title %}
{% block body %}
    <br><br>
    <h1>{{todo.title}}</h1>
    <br>
    <p style="font-size: 25px;">{{todo.content}}</p>
    <br><br>
    <p>{{todo.get_importance_display}} importance</p>
    <br>
    <p>Created Time: {{todo.time_created}}</p>
    <p>Finish Time: {{todo.finish_date}}  {{todo.finish_time}}</p>
    <a href="{% url 'todo:finishToDo' todo.id %}">
        <button class="btn btn-secondary btn-lg btn-block" style="margin-bottom:12px;">FINISH HIM</button>
        </a>
    <a href="{% url 'todo:updateToDo' todo.title %}">
        <button class="btn btn-info btn-sm float-right" style="margin-left:12px;">Update</button>
        </a>                        
    <a href="{% url 'todo:deleteToDo' todo.title %}">
        <button class="btn btn-danger btn-sm float-right">Delete</button>
        </a>
{% endblock body %}